html {
  background-color: rgb(35, 74, 63);
  display: flex;
}

body {
  height: 100vh;
  width: 100%;
  margin: 0;
}

#__next {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  font-family: var(--roboto-font);
}
